/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


/* Variabili */

:root {
    --colored-header-height: 8rem;
    --colored-header-bg: lightcyan;
    --container-jumbo-bg: lightgrey;

    --left-app-content-width: 30%;

    --header-height: 60px;
    --header-bg: rgb(201, 195, 195);

    --container-app-width: 1000px;
    --container-app-height: 800px;

    --notification-alert-height: 70px;
    --search-bar-height: 50px;



}

/* ********************************************************* */

/* utility */

.flex {
    display: flex;
}

.underline {
    text-decoration: underline;
}

.align-center {
    align-items: center;
}


.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: .8rem;
}


.header-btns {
    justify-content: space-between;

}


.header-btns .fa-solid{
    font-size: 1.2rem;
    padding-right: .8rem;
    opacity: .5;
} 




/* ********************************************************************* */

.container-jumbo {
    position: relative;
    height: 100vh;
    width: 100%;

    
}


.colored-header {
    height: var(--colored-header-height);
    background-color: var(--colored-header-bg);
    filter: brightness(.8);
}


.colored-cover {
    background-color: var(--container-jumbo-bg);
    height: calc(100vh - var(--colored-header-height));
    filter: brightness(.8);
}


.container-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--container-app-width);
    height: var(--container-app-height);
}



/* *********************************************************************** */

.left-app-content {
    height: 100%;
    width: var(--left-app-content-width);
    background-color: rgb(189, 226, 226);
}


.right-app-content {
    height: 100%;
    width: calc(100% - var(--left-app-content-width));
}


header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    height: var(--header-height);
    border-right: 1px solid darkgrey;
}


.user {
    align-items: center;
}



.notifications-alert {
    align-items: center;
    background-color: aqua;
    height: var(--notification-alert-height);
}


.notifications-alert-icon {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin: .8rem;
}

.fa-bell-slash {
    font-size: 1.5rem;
    color: aqua;
}


.search-bar {
    padding: .6rem;
    height: var(--search-bar-height);
}

.search-bar-btn {
    width: 15%;
}

.search-bar-input {
    width: 85%;

}


.chats-list-container {
    background-color: white;
    height: calc( var(--container-app-height) - var(--notification-alert-height) - var(--search-bar-height) - var(--header-height));
    overflow-y: scroll;
}

.chat {
    position: relative;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.chat .user-name {
    padding-top: .8rem;
}

.time-last-access {
    position: absolute;
    top: 0;
    right: 1rem;
    padding-top: .8rem;
}

.chat:hover {
    background-color: lightgrey;
}




/* right content */


.last-access-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.active-chat {
    height: calc(100% - var(--header-height) - var(--header-height));
    background-image: url("../img/mine.jpg");
    filter: brightness(.8);
}

.container-msgs {
    width: 80%;
    height: calc(100% - var(--header-height));      /*TODO:*/
    margin: 0 auto;
    padding-top: 4rem;
}

.box-msg {
    width: 200px;
    height: 40px;
    padding: .5rem;
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.msg-received {
    background-color: lightgreen;
    margin-left: 60%;
}

.msg-sent {
    background-color: white;

}

.new-msg-bar {
    height: var(--header-height);
    background: rgb(224, 215, 215);
}

