/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


/* Variabili */

:root {
    --colored-header-height: 8rem;
    --colored-header-bg: lightcyan;
    --container-jumbo-bg: lightgrey;

    --left-app-content-width: 30%;
    --header-bg: rgb(201, 195, 195);

}

/* ********************************************************* */

/* utility */

.flex {
    display: flex;
}

.underline {
    text-decoration: underline;
}




.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: .8rem;
}


.header-btns {
    justify-content: space-between;

}


.header-btns .fa-solid{
    font-size: 1.2rem;
    padding-right: .8rem;
    opacity: .5;
} 




/* ********************************************************************* */

.container-jumbo {
    position: relative;
    height: 100vh;
    width: 100%;

    
}


.colored-header {
    height: var(--colored-header-height);
    background-color: var(--colored-header-bg);
    filter: brightness(.8);
}


.colored-cover {
    background-color: var(--container-jumbo-bg);
    height: calc(100vh - var(--colored-header-height));
    filter: brightness(.8);
}


.container-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 800px;
    background-color: yellowgreen;
}



/* *********************************************************************** */

.left-app-content {
    height: 100%;
    width: var(--left-app-content-width);
    background-color: rgb(189, 226, 226);
}


.right-app-content {
    height: 100%;
    width: calc(100% - var(--left-app-content-width));
    background-color: blueviolet;
}


.header-left-content {
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    height: 80px;
}


.user {
    align-items: center;
}



.notifications-alert {
    align-items: center;
    background-color: aqua;
    height: 80px;
}


.notifications-alert-icon {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin: .8rem;
}

.fa-bell-slash {
    font-size: 1.5rem;
    color: aqua;
}


.search-bar {
    padding: .6rem;
    height: 50px;
}

.search-bar-btn {
    width: 15%;
}

.search-bar-input {
    width: 85%;

}


.chats-list-container {
    background-color: white;
    height: 590px;
    overflow-y: scroll;
}

.chat {
    position: relative;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.chat .user-name {
    padding-top: .8rem;
}

.time-last-message-sent {
    position: absolute;
    top: 0;
    right: 1rem;
    padding-top: .8rem;
}

.chat:hover {
    background-color: lightgrey;
}