/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    font-family: 'Lato', sans-serif;
}


ul {
    list-style: none;
}


/* Variabili */

:root {
    /* colors */
    --colored-header-bg: rgb(0,150,136);
    --container-jumbo-bg: rgb(215,218,215);

    /* dimensions */
    --colored-header-height: 8rem;
    --left-app-content-width: 30%;
    --header-height: 60px;
    --container-app-width: 1400px;
    --container-app-height: 800px;
    --notification-alert-height: 70px;
    --search-bar-height: 50px;
}

.light-mode {
    /* colors */
    --header-bg: rgb(235,235,234);
    --notification-alert-bg: rgb(142,218,252);
    --chat-list-container-bg: rgb(255,254,254);
    --text-color: rgb(193,194,204);
    --new-msg-bar-bg: rgb(242,238,235);
    --active-chat-bg: url("../img/mine.jpg");
    --active-chat-filter: none;
}

.dark-mode {
    /* colors */
    --header-bg: rgb(129, 129, 128);
    --notification-alert-bg: rgb(60, 106, 128);
    --chat-list-container-bg: rgb(156, 156, 156);
    --text-color: rgb(193,194,204);
    --new-msg-bar-bg: rgb(124, 124, 124);
    --active-chat-bg: linear-gradient(black, black), url("../img/mine.jpg");
    --active-chat-filter: invert(.9);
}

/* ********************************************************* */

/* utility */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.underline {
    text-decoration: underline;
}

.align-center {
    align-items: center;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    height: var(--header-height);
    border-right: 1px solid darkgrey;
}

/* ********************************************************************* */

/* shared classes */

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: .8rem;
}

.header-btns {
    justify-content: space-between;

}

.header-btns .fa-solid{
    font-size: 1.3rem;
    padding-right: .8rem;
    opacity: .5;
} 

.new-msg-bar .fa-solid, .fa-regular{
    font-size: 1.4rem;
    opacity: .7;
} 

.fa-solid:hover, .fa-regular:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}



/* ******************************************************************** */

/* containers e sfondo viewport */

.bg-viewport {
    position: absolute;
}

.colored-header {
    top: 0;
    right: 0;
    left: 0;
    height: var(--colored-header-height);
    background-color: var(--colored-header-bg);
}

.colored-cover {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--container-jumbo-bg);
    height: calc(100vh - var(--colored-header-height));
}

.container-jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    
}

.container-app {
    z-index: 100;
    width: var(--container-app-width);
    height: var(--container-app-height);
    box-shadow: 0px 0px 10px 10px rgba(126, 123, 123, 0.5);
}

.left-app-content {
    height: 100%;
    width: var(--left-app-content-width);
    background-color: var(--header-bg);
}

.right-app-content {
    height: 100%;
    width: calc(100% - var(--left-app-content-width));
}



/* *********************************************************************** */



/* parte sx app */

.user {
    align-items: center;
}

.notifications-alert {
    align-items: center;
    background-color: var(--notification-alert-bg);
    height: var(--notification-alert-height);
}

.notifications-alert-icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: .8rem;
}

.turn-on-notification {
    color: var(--header-bg);
    cursor: pointer;
}

.turn-on-notification:hover {
    color: rgb(187, 178, 178);
}

.fa-bell-slash {
    font-size: 1.5rem;
    color: rgb(142,218,252);
}

.search-bar {
    padding: .6rem;
    height: var(--search-bar-height);
}

.fa-magnifying-glass {
    opacity: .7;
}

.search-bar .fa-magnifying-glass:hover {
    transform: scale(1);
}

.search-bar-btn {
    width: 15%;
    border-top: 1px solid var(--new-msg-bar-bg);
    border-left: 1px solid var(--new-msg-bar-bg);
    border-bottom: 1px solid var(--new-msg-bar-bg);
    border-right: none;
    cursor: pointer;
}

.search-bar-input {
    width: 85%;
    border: 1px solid var(--new-msg-bar-bg);
}


.chats-list-container {
    background-color: var(--chat-list-container-bg);
    height: calc( var(--container-app-height) - var(--notification-alert-height) - var(--search-bar-height) - var(--header-height));
    overflow-y: scroll;
}

.chat {
    position: relative;
    border-bottom: 1px solid var(--new-msg-bar-bg);
    cursor: pointer;
}

.chat .contact-name {
    padding-top: .8rem;
    font-weight: 500;
}

.last-message-sent {
    color: var(--text-color);
}

.time-last-access {
    position: absolute;
    top: 0;
    right: 1rem;
    padding-top: .8rem;
    color: var(--text-color);
}

.chat:hover {
    background-color: rgb(232,234,235);
}


/* *************************************************************************** */


/* right content */


.header-right-content {
    border-right: none;
}

.last-access-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.last-access {
    color: rgb(163,148,162);

}


/* active chat */

.active-chat {
    height: calc(100% - var(--header-height) - var(--header-height));
    background-image: var(--active-chat-bg);
    background-blend-mode: saturation;
    filter: var(--active-chat-filter);
    overflow-y: scroll;
}

.container-msgs {
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    padding-top: 4rem;
}

.box-msg {
    position: relative;
    width: 40%;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
    border-radius: 8px;
}

.text {
    word-wrap: anywhere;
}

.btn-dropdown-box-msg {
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 40;
}

.dropdown-box-msg {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 130px;
    height: 80px;
    background-color: white;
    z-index: 50;
    cursor: pointer;
    box-shadow: 1px 1px 1px lightgrey;

}

.delete-msg {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 50%;
    padding: .5em;
}

.info-msg {
    width: 100%;
    height: 50%;
    padding: .5em;
}

.delete-msg:hover, .info-msg:hover {
    background-color: var(--new-msg-bar-bg);
}


.msg-sent {
    background-color: rgb(213,248,187);
    margin-left: 60%;
}

.msg-received {
    background-color: rgb(255,254,254);

}

.time-msg {
    font-size: .7rem;
    color: grey;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: .2rem;
    padding-right: .3rem;
}


/* footer */

.new-msg-bar {
    height: var(--header-height);
    background: var(--new-msg-bar-bg);
}

.write-new-msg-input {
    width: 80%;
    padding: .5rem;
    border: none;
    border-radius: 4px;
}

.new-msg-bar-btn {
    width: 10%;
    text-align: center;
}

.empty-chat {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80%;

}

.empty-chat-icon {
    color: var(--text-color);
    font-size: 10rem;
}

.empty-chat-icon:hover {
    transform: none;
    cursor: auto;
}

.empty-chat-msg {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    
}


/* ********************************************************************* */

/* query */

@media screen and (max-width: 900px) {
    .container-app {
        width: 700px;
    }

    .left-app-content {
      width: 10%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .user {
        width: 100%;
        justify-content: center;
    }

    .user-name {
        display: none;
    }
    
    .notification-alert-text {
        display: none;
    }
    
    .search-bar-btn {
        width: 100%;
        justify-content: center;
    }
    
    .search-bar-input {
        display: none;
    }
    
    .chat {
        justify-content: center;
    }
    
    .chat-text {
        display: none;
    }
    
    .time-last-access {
        display: none;
    }

    .right-app-content {
        width: 90%;
    }
}