<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="bg-viewport colored-header"></div>
        <div class="bg-viewport colored-cover"></div>

        <div class="container-jumbo">
            <!-- parte colorata sfondo viewport -->

            <div id="root" class="container-app flex">
                <!-- contenuto sx app -->
                <div class="left-app-content">

                    <header class="header-left-content flex">

                        <!-- immagine e nome utente -->
                        <div class="user flex">
                            <img class="avatar-img" src="img/avatar_io.jpg" alt="user image">

                            <div class="user-name">Sophia</div>
                        </div>

                        <!-- pulsanti  -->
                        <div class="header-btns left-header-btns flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <!-- alert attivazione notifiche -->
                    <div class="notifications-alert flex">
                        <div class="notifications-alert-icon flex">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="notification-alert-text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div class="underline">Attiva notifiche desktop</div>
                        </div>
                    </div>

                    <!-- contatti e barra ricerca -->
                    <div class="contacts-chats-list">
                        <div class="search-bar flex">

                            <button class="search-bar-btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                            <input @keyup="searchingContact" v-model="searchContact" type="text" name="search-bar-input" class="search-bar-input" id="search-bar-input" placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <div class="chats-list-container">

                            <!-- lista con tutte le chat -->
                            <ul class="chats-list">

                                <!-- singola chat -->
                                <li v-for="(contact, index) in contacts" @click="indexActiveChat = index" class="chat flex" v-show="contact.contactVisible"> 
                                    <img class="avatar-img" :src="contact.avatarImg" alt="">

                                    <div class="chat-text">
                                        <div class="contact-name">{{ contact.contactName }}</div>
                                        <div class="last-message-sent" v-if="contact.chatLog.length > 0">{{ contact.chatLog[contact.chatLog.length - 1].textMsg }}</div>
                                    </div>

                                    <div class="time-last-access">{{ contact.chatLog[contact.chatLog.length - 1].date }}</div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- contenuto dx app -->
                <div class="right-app-content">
                    <header class="header-right-content flex">

                        <!-- informazioni chat attiva (icone persona e ultimo accesso) -->
                        <div class="user flex">
                            <div class="active-chat-header flex"> 
                                <img class="avatar-img" :src="contacts[indexActiveChat].avatarImg" alt="">

                                <div class="last-access-info">
                                    <div class="user-name">{{ contacts[indexActiveChat].contactName }}</div>
                                    <div class="last-access">Ultimo accesso oggi {{ contacts[indexActiveChat].chatLog[contacts[indexActiveChat].chatLog.length - 1].date }}</div>
                                </div>
                            </div>
                        </div>

                        <!-- pulsanti  -->
                        <div class="header-btns right-header-btns flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <div class="active-chat"   @click="msgBarNotOnFocus">
                        <div class="container-msgs">
                            <div v-for="(chat, index) in contacts[indexActiveChat].chatLog" class="box-msg" :class="chat.statusMsg == 'sent' ? 'msg-sent' : 'msg-received'">
                                <div class="text-msg">{{ chat.textMsg }}</div>
                                <div class="time-msg time-msg-received">{{ chat.date }}</div>

                                <!-- dropdown buttons -->
                                <!-- <div class="btn-dropdown-box-msg" @click="chat.dropdownActive = !chat.dropdownActive" v-show="chat.dropdownActive == true"><i class="fa-solid fa-angle-left"></i></div> -->

                                <div class="btn-dropdown-box-msg" @click="chat.dropdownActive = !chat.dropdownActive"><i class="fa-solid fa-angle-down"></i></div>
                                <!-- dropdown -->
                                <div class="dropdown-box-msg" v-show="chat.dropdownActive == true">
                                    <div class="delete-msg" @click="deleteMsg(indexActiveChat, index)">Cancella</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- barra inserimento nuovo msg -->
                    <div class="new-msg-bar flex align-center">
                        <div class="new-msg-bar-btn emoticons">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        
                        <input @keydown.enter="sendNewMsg" @focus="msgBarOnFocus = !msgBarOnFocus" v-model="newMsgSent.textMsg" type="text" name="write-new-msg-input" class="write-new-msg-input" id="write-new-msg-input" placeholder="Scrivi messaggio">

                        <div class="new-msg-bar-btn send-vocal-msg relative">
                            <!-- TODO: bottone invio compare, ma poi non torna il microfono. Il probema penso che sia che la variabile msgBarOnFocus una volta che si setta true tramita il @focus non torna più false -->
                            <i class="fa-solid fa-microphone" :class="{'d-none': msgBarOnFocus }"></i>
                            <i class="fa-solid fa-paper-plane" :class="msgBarOnFocus ? 'd-block' : 'd-none'"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js" integrity="sha512-Nw0Abk+Ywwk5FzYTxtB70/xJRiCI0S2ORbXI3VBlFpKJ44LM6cW2WxIIolyKEOxOuMI90GIfXdlZRJepu7cczA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>