<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="bg-viewport colored-header"></div>
        <div class="bg-viewport colored-cover"></div>

        <div class="container-jumbo">
            <!-- parte colorata sfondo viewport -->

            <div id="root" class="container-app flex">
                <!-- contenuto sx app -->
                <div class="left-app-content">

                    <header class="header-left-content flex">

                        <!-- immagine e nome utente -->
                        <div class="user flex">
                            <img class="avatar-img" src="img/avatar_io.jpg" alt="user image">

                            <div class="user-name">Sophia</div>
                        </div>

                        <!-- pulsanti  -->
                        <div class="header-btns left-header-btns flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <!-- alert attivazione notifiche -->
                    <div class="notifications-alert flex">
                        <div class="notifications-alert-icon flex">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="notification-alert-text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div class="underline">Attiva notifiche desktop</div>
                        </div>
                    </div>

                    <!-- lista con tutte le chat aperte -->
                    <div class="contacts-chats-list">
                        <div class="search-bar flex">

                            <button class="search-bar-btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                            <input type="text" name="search-bar-input" class="search-bar-input" id="search-bar-input" placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <div class="chats-list-container">

                            <!-- lista con tutte le chat -->
                            <ul class="chats-list">

                                <!-- singola chat -->
                                <li v-for="(contact, index) in contacts" @click="indexActiveChat = index" class="chat flex"> 
                                    <img class="avatar-img" :src="contact.avatarImg" alt="">

                                    <div class="chat-text">
                                        <div class="contact-name">{{ contact.contactName }}</div>
                                        <div class="last-message-sent">{{ contact.chatLog[contact.chatLog.length - 1].textMsg }}</div>
                                    </div>

                                    <div class="time-last-access">{{ contact.dateLastAccess }}</div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- contenuto dx app -->
                <div class="right-app-content">
                    <header class="header-right-content flex">

                        <!-- informazioni chat attiva (icone persona e ultimo accesso) -->
                        <div class="user flex">
                            <div class="active-chat-header flex"> 
                                <img class="avatar-img" :src="contacts[indexActiveChat].avatarImg" alt="">

                                <div class="last-access-info">
                                    <div class="user-name">{{ contacts[indexActiveChat].contactName }}</div>
                                    <div class="last-access">Ultimo accesso oggi alle {{ contacts[indexActiveChat].dateLastAccess }}</div>
                                </div>
                            </div>
                        </div>

                        <!-- pulsanti  -->
                        <div class="header-btns right-header-btns flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <div class="active-chat">
                        <div class="container-msgs">
                            <div v-for="(chat, index) in contacts[indexActiveChat].chatLog" class="box-msg" :class="chat.statusMsg == 'sent' ? 'msg-sent' : 'msg-received'">
                                <div class="text-msg">{{ chat.textMsg }}</div>
                                <div class="time-msg time-msg-received">{{ chat.date }}</div>
                            </div>

                            <!-- <div class="box-msg msg-received">
                                <div class="text-msg">msg di prova</div>
                                <div class="time-msg time-msg-received">15:30</div>
                            </div>

                            <div class="box-msg msg-sent">
                                <div class="text-msg">msg di prova</div>
                                <div class="time-msg time-msg-sent">16:30</div> 
                            </div> -->

                        </div>
                    </div>

                    <div class="new-msg-bar flex align-center">
                        <div class="new-msg-bar-btn emoticons">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        
                        <input @keydown.enter="sendNewMsg" v-model="newMsgSent.textMsg" type="text" name="write-new-msg-input" class="write-new-msg-input" id="write-new-msg-input" placeholder="Scrivi messaggio">

                        <div class="new-msg-bar-btn send-vocal-msg">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>

                </div>

            </div>

        </div>




    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>